ul{
list-style-type : none;
margin : 0;
overflow : hidden;
background-color : #150050;	
}

h2{
	display : block;
	color : white;
	text-align : center;
}

h1{
	display : block;
	color : white;
	text-align : center;
}

li{
float : right;
}
li a{
	display : block;
	color : white;
	text-align : center;
	padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}